Django>=3.2,<4.0
mysqlclient>=2.0,<3.0
djangorestframework
djangorestframework-simplejwt
python-docx
PyPDF2
django-cors-headers
spacy
textblob
textstat
language_tool_python
django-cors-headers
transformers
enchant
torch


